<a href="https://colab.research.google.com/github/akashkapoor1985/Public_Code/blob/master/pySparkDataFrames2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 65 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 44.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=993cc11f2b1912bc8bcb73f52692c4b987dc591d967baf882d31330d07fd2330
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
#Converting to Spark types
from pyspark.sql.functions import lit
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, LongType, StructType, StructField
spark = SparkSession.builder.appName("secondApp").getOrCreate()

row1 = Row("James", "Bond", 1)
row2 = Row("Tom", "Cruise", 2)

mySchema = StructType([
                       
                       StructField("First_name", StringType(), True),
                       StructField("Last_Name", StringType(), True),
                       StructField("Count", LongType(), False)
])

df = spark.createDataFrame([row1,row2], schema = mySchema)

df.select("First_Name",lit(5), lit("five"), lit(5.9)).show()

+----------+---+----+---+
|First_Name|  5|five|5.9|
+----------+---+----+---+
|     James|  5|five|5.9|
|       Tom|  5|five|5.9|
+----------+---+----+---+

In [3]:
from pyspark.sql.functions import col
df.where(col("First_Name")=="James").select("Last_Name").show(5, True)

+---------+
|Last_Name|
+---------+
|     Bond|
+---------+

In [4]:
df.where("Count <> 1").show()

+----------+---------+-----+
|First_name|Last_Name|Count|
+----------+---------+-----+
|       Tom|   Cruise|    2|
+----------+---------+-----+